<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width">
    <title>@ViewBag.Title</title>
    <meta name="description" content="Online store created with ASP.NET Core.">
    <meta name="author" content="João Vitor Amorim">

    <!-- Library Stylesheets -->
    <link rel="stylesheet" href="/resources/lib/bootstrap-4.2.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/resources/lib/caroussel/carousel.css" />
    <link rel="stylesheet" href="/resources/lib/bootstrap-ecommerce-uikit/css/ui.css" />
    <link rel="stylesheet" href="/resources/lib/bootstrap-ecommerce-uikit/css/responsive.css" rel="stylesheet" media="only screen and (max-width: 1200px)" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="/resources/lib/x-paged-list/page-list.css" type="text/css">
    <link rel="stylesheet" href="/resources/lib/bootstrap-ecommerce-uikit/ui-ecommerce/plugins/fancybox/fancybox.min.css">

    <!-- Custom Stylesheets -->
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/multilevelDropdown.css">
    <link rel="stylesheet" href="/css/productDetails.css">
    <link rel="stylesheet" href="/css/productListing.css">
    <link rel="stylesheet" href="/css/shoppingCart.css">
    <link rel="stylesheet" href="/css/payment.css">
</head>

<body>
    <header>
        @await Component.InvokeAsync("Navbar")
    </header>

    <div>
        @RenderBody()
    </div>

    <hr class="featurette-divider">
    
    <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; @DateTime.Now.Year OnlineStore. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>

    <!-- Library Scripts-->
    <script src="/resources/lib/holder/holder.min.js"></script>
    <script src="/resources/lib/jquery3.3.1/jquery-3.3.1.min.js"></script>
    <script src="/resources/lib/jquery-mask/jquery.mask.min.js"></script>
    <script src="/resources/lib/popper1.14.6/popper.min.js"></script>
    <script src="/resources/lib/bootstrap-4.2.1-dist/js/bootstrap.min.js"></script>
    <script src="/resources/lib/bootstrap-ecommerce-uikit/ui-ecommerce/plugins/fancybox/fancybox.min.js"></script>
    
    <!-- Custom Scripts -->
    <script src="/js/CustomerArea/DetailsPageActions.js"></script>
    <script src="/js/CustomerArea/ProductSortingActions.js"></script>
    <script src="/js/CustomerArea/ShoppingCartActions.js"></script>
    <script src="/js/CustomerArea/ShippingRateActions.js"></script>
    <script src="/js/CustomerArea/InputFieldMasks.js"></script>
</body>
</html>