@model Category
@{
    ViewData["Title"] = "Category Registration";
}

<h1 style="margin-top: 20px;">Category Registration</h1>

@if(TempData["MSG_OK"] != null)
{
    <p class="alert alert-success">@Html.Raw(TempData["MSG_OK"])</p>
}

<form method="post">
  <div class="form-group">
    <label asp-for="Name"></label>
    <input asp-for="Name" class="form-control" placeholder="Type the category name...">
    <span asp-validation-for="Name" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="Slug"></label>
    <input asp-for="Slug" class="form-control" placeholder="Type the category slug...">
    <span asp-validation-for="Slug" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="ParentCategoryId"></label>
    <select asp-for="ParentCategoryId" asp-items="@ViewBag.Categories" class="form-control">
        <option value="">Select</option>
    </select>
    <span asp-validation-for="ParentCategoryId" class="text-danger"></span>
  </div>
  <div>
    <a asp-action="Index">Return</a>
    <button type="submit" class="btn btn-primary" style="float: right;">
        Submit
    </button>
  </div>
</form>