@model Contact
@{
    ViewData["Title"] = "Contact";
}

<main role="main">
    <br />
    <br />
    <div class="container">
        <div class="row">
            <aside class="col-md-6">
                <h4 class="subtitle-doc">
                    Contact
                </h4>
                <div>
                    <article class="card">
                        <div class="card-body p-5">
                            @if(TempData["MSG_OK"] != null)
                            {
                                <p class="alert alert-success">@Html.Raw(TempData["MSG_OK"])</p>
                            }
                            @if(TempData["MSG_ERROR"] != null)
                            {
                                <p class="alert alert-danger">@Html.Raw(TempData["MSG_ERROR"])</p>
                            }
                            
                            <form role="form" method="post">
                                <div class="form-group">
                                    <label for="username">Name</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                                        </div>
                                        <input asp-for="Name" type="text" class="form-control" placeholder="">
                                    </div>
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label for="email">E-mail</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-at"></i></span>
                                        </div>
                                        <input asp-for="Email" type="text" class="form-control" placeholder="">
                                    </div>
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="text"><span class="hidden-xs">Text</span> </label>
                                            <div class="form-inline">
                                                <textarea asp-for="Text" class="form-control" 
                                                    style="width:100%; resize:none;"></textarea>
                                            </div>
                                            <span asp-validation-for="Text" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <button class="subscribe btn btn-primary btn-block" type="submit">Send message</button>
                            </form>
                        </div>
                    </article>
                </div>
            </aside>
            <aside class="col-md-6" style="margin-bottom: 20px;">
                <h4 class="subtitle-doc">
                    Other contacts
                </h4>
                <div id="code_desc_simple">
                    <div class="box">
                        <dl>
                            <dt>Devolution/Warranty: </dt>
                            <dd>devolution@onlinestore.com</dd>
                        </dl>
                        <dl>
                            <dt>Contact:</dt>
                            <dd style="margin-bottom: 0;">(00) 1234-5678</dd>
                            <dd>sac@onlinestore.com</dd>
                        </dl>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</main>