#sortingOption {
    scroll-margin-top: 100px;
}

#category-page {
    margin-top: 50px;
}

.home-products-container {
    margin-top: 30px;
}

.home-products-container .title {
    color: #575d62;
}

.card-product {
    height: 100%;
}

.home-products {
    margin-bottom: 32px;
}

.home-products .product-button {
    position: absolute; 
    right: 20px; 
    bottom: 20px;
}

.home-products .product-price {
    position: absolute; 
    left: 20px; 
    bottom: 15px
}