@model Collaborator
@{
    ViewData["Title"] = "Collaborator Update";
}

<h1 style="margin-top: 20px;">Collaborator Update</h1>

<form method="post">
    <input type="hidden" asp-for="Id">
    <div class="form-group">
        <label asp-for="Name">New Name</label>
        <input asp-for="Name" class="form-control" placeholder="Type the new name...">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email">New Email</label>
        <input asp-for="Email" class="form-control" placeholder="Type the new email...">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password">New Password</label>
        <input type="password" asp-for="Password" class="form-control" placeholder="Type the new password...">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PasswordConfirmation">New Password Confirmation</label>
        <input type="password" asp-for="PasswordConfirmation" class="form-control" placeholder="Type the new password again...">
        <span asp-validation-for="PasswordConfirmation" class="text-danger"></span>
    </div>
    <div>
        <a asp-action="Index">Return</a>
        <button type="submit" class="btn btn-primary" style="float: right;">
            Submit
        </button>
    </div>
</form>